<div class="resources grid grid-3col">
  <div class="resource flex-group-center">
    <h2 class="section-header">Abilities</h2>
    {{#each system.abilities as |ability key|}}
    <div class="ability flexrow flex-group-center">
      <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20"
        data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup
        @root.config.abilities
        key)}}</label>
      <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
      <!--span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span-->
    </div>
    {{/each}}
  </div>


  <div class="resource flex-group-center">
    <h2 class="section-header">Combat Statistics</h2>
    <div class="ability flexrow flex-group-center">
      <label for="system.attributes.baseov.value" class="resource-label flexlarge align-left">Base
        OV</label>
      <input type="text" name="system.attributes.baseov.value" value="{{system.attributes.baseov.value}}"
        data-dtype="Number" />

    </div>
    <div class="ability flexrow flex-group-center">
      <label for="system.attributes.basedvme.value" class="resource-label flexlarge align-left">Base DV
        MÊ</label>
      <input type="text" name="system.attributes.basedvme.value" value="{{system.attributes.basedvme.value}}"
        data-dtype="Number" />
    </div>

    <div class="ability flexrow flex-group-center">
      <label for="system.attributes.basedvmi.value" class="resource-label flexlarge align-left">Base DV
        MI</label>
      <input type="text" name="system.attributes.basedvmi.value" value="{{system.attributes.basedvmi.value}}"
        data-dtype="Number" />
    </div>

    <div class="ability flexrow flex-group-center">
      <label for="system.attributes.armordv.value" class="resource-label flexlarge align-left">Armor
        DV</label>
      <input type="text" name="system.attributes.armordv.value" value="{{system.attributes.armordv.value}}"
        data-dtype="Number" />
    </div>

    <div class="ability flexrow flex-group-center">
      <label for="system.attributes.helmetdv.value" class="resource-label flexlarge align-left">Helmet
        DV</label>
      <input type="text" name="system.attributes.helmetdv.value" value="{{system.attributes.helmetdv.value}}"
        data-dtype="Number" />
    </div>

    <div class="ability flexrow flex-group-center">
      <label for="system.attributes.shielddvme.value"
        class="combatstatnarrow-label resource-label flexlarge align-left">Shield DV
        MÊ/MI</label>
      <input class="combatstatnarrow-value" type="text" name="system.attributes.shielddvme.value"
        value="{{system.attributes.shielddvme.value}}" data-dtype="Number" /><input class="combatstatnarrow-value"
        type="text" name="system.attributes.shielddvmi.value" value="{{system.attributes.shielddvmi.value}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="resource flex-group-center">
    <h2 class="section-header">Conditions</h2>
    <!-- todo conditions -->


    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Afraid</label>
      <input type="checkbox" name="system.conditions.afraid" {{#if system.conditions.afraid}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Blinded</label>
      <input type="checkbox" name="system.conditions.blinded" {{#if system.conditions.blinded}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Encumbered</label>
      <input type="checkbox" name="system.conditions.encumbered" {{#if system.conditions.encumbered}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Entangled</label>
      <input type="checkbox" name="system.conditions.entangled" {{#if system.conditions.entangled}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Helpless</label>
      <input type="checkbox" name="system.conditions.helpless" {{#if system.conditions.helpless}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Poisoned</label>
      <input type="checkbox" name="system.conditions.poisoned" {{#if system.conditions.poisoned}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Seriously Injured</label>
      <input type="checkbox" name="system.conditions.seriouslyinjured" {{#if
        system.conditions.seriouslyinjured}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Sick</label>
      <input type="checkbox" name="system.conditions.sick" {{#if system.conditions.sick}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Soaking Wet</label>
      <input type="checkbox" name="system.conditions.soakingwet" {{#if system.conditions.soakingwet}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Stunned</label>
      <input type="checkbox" name="system.conditions.stunned" {{#if system.conditions.stunned}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Tired</label>
      <input type="checkbox" name="system.conditions.tired" {{#if system.conditions.tired}}checked{{/if}}>
    </div>

    <div class="ability flexrow flex-group-center flex-wrap">
      <label class="resource-label flexlarge align-left">Submerged</label>
      <input type="checkbox" name="system.conditions.submerged" {{#if system.conditions.submerged}}checked{{/if}}>
    </div>
  </div>


  {{!-- For the main features list, span the right two columns --}}