<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-6col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}

        {{!-- Health --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>

        {{!-- Experience --}}
        <div class="resource flex-group-center">
          <label for="system.attributes.experience.value" class="resource-label">Experience</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.experience.value" value="{{system.attributes.experience.value}}"
              data-dtype="Number" />
          </div>
        </div>

        {{!-- Level --}}
        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
              data-dtype="Number" />
          </div>
        </div>

        {{!-- Character Role --}}
        <div class="resource flex-group-center">
          <label for="system.attributes.combatrole.value" class="resource-label">Character Role</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="system.attributes.combatrole.value">
              <option value="" {{#if (eq system.attributes.combatrole.value "" )}}selected{{/if}}></option>
              <option value="Bard" {{#if (eq system.attributes.combatrole.value "Bard" )}}selected{{/if}}>Bard</option>
              <option value="Dwarf" {{#if (eq system.attributes.combatrole.value "Dwarf" )}}selected{{/if}}>Dwarf
              </option>
              <option value="Elf" {{#if (eq system.attributes.combatrole.value "Elf" )}}selected{{/if}}>Elf</option>
              <option value="Halfling" {{#if (eq system.attributes.combatrole.value "Halfling" )}}selected{{/if}}>
                Halfling
              </option>
              <option value="Ranger" {{#if (eq system.attributes.combatrole.value "Ranger" )}}selected{{/if}}>Ranger
              </option>
              <option value="Sorcerer" {{#if (eq system.attributes.combatrole.value "Sorcerer" )}}selected{{/if}}>
                Sorcerer</option>
              <option value="Thief" {{#if (eq system.attributes.combatrole.value "Thief" )}}selected{{/if}}>Thief
              </option>
              <option value="Warrior" {{#if (eq system.attributes.combatrole.value "Warrior" )}}selected{{/if}}>Warrior
              </option>
            </select>
          </div>
        </div>

        {{!-- Sex --}}
        <div class="resource flex-group-center">
          <label for="system.attributes.sex.value" class="resource-label">Sex</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="system.attributes.sex.value">
              <option value="Male" {{#if (eq system.attributes.sex.value "" )}}selected{{/if}}></option>
              <option value="Male" {{#if (eq system.attributes.sex.value "Male" )}}selected{{/if}}>Male</option>
              <option value="Female" {{#if (eq system.attributes.sex.value "Female" )}}selected{{/if}}>Female</option>
            </select>
          </div>
        </div>

        {{!-- Size --}}
        <div class="resource flex-group-center">
          <label for="system.attributes.size.value" class="resource-label">Size</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="system.attributes.size.value">
              <option value="Small" {{#if (eq system.attributes.size.value "" )}}selected{{/if}}></option>
              <option value="Small" {{#if (eq system.attributes.size.value "Small" )}}selected{{/if}}>Small</option>
              <option value="Medium" {{#if (eq system.attributes.size.value "Medium" )}}selected{{/if}}>Medium
              </option>
            </select>
          </div>
        </div>

        {{!-- Movement rate --}}
        <div class="resource flex-group-center">
          <label class="resource-label">Movement rate</label>
          <div class="resource-content flex-center flex-between">
            <input type="text" name="" disabled value="{{#if (eq system.attributes.combatrole.value "Dwarf")}}{{numberFormat system.abilities.str.totalmovementdwarfhalfling decimals=0}} ft{{else}}{{#if (eq system.attributes.combatrole.value "Halfling" )}}{{numberFormat system.abilities.str.totalmovementdwarfhalfling decimals=0}} ft{{else}}{{numberFormat system.abilities.str.totalmovementhumanelf decimals=0}} ft{{/if}}{{/if}}" data-dtype="Number" />
            <div class="resource flex-group-center">{{#if (lt system.combatstats.armor.mr 0)}} {{numberFormat system.combatstats.armor.mr decimals=0}} from armor {{else}}{{#if (gt system.combatstats.armor.mr 0)}}-{{numberFormat system.combatstats.armor.mr decimals=0}} from armor{{/if}}{{/if}} </div>
          </div>
        </div>
        {{!-- Climbing rate --}}
        <div class="resource flex-group-center">
          <label title="Based on DEX" class="resource-label">Climbing rate</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input title="Based on DEX" type="text"
              value="{{numberFormat system.abilities.dex.climbingrate decimals=0 }} ft" disabled data-dtype="Number" />
          </div>
        </div>
        {{!-- Swimming rate --}}
        <div class="resource flex-group-center">
          <label title="Based on CON" class="resource-label">Swimming rate</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input title="Based on CON" type="text"
              value="{{numberFormat system.abilities.con.swimmingrate decimals=0 }} ft" disabled data-dtype="Number" />
          </div>
        </div>
        {{!-- Hold breath rate --}}
        <div class="resource flex-group-center">
          <label title="Based on CON" class="resource-label">Hold breath</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input title="Based on CON" type="text"
              value="{{numberFormat system.abilities.con.holdbreath decimals=0 }} rounds" disabled
              data-dtype="Number" />
          </div>
        </div>


        {{!-- Carrying capacity --}}
        <div class="resource flex-group-center">
          <label title="Based on STR" class="resource-label">Carrying capacity(max)</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input title="Based on STR" type="text" value="{{numberFormat system.abilities.str.carrycapacity decimals=0}}({{numberFormat
          system.abilities.str.maximumcapacity decimals=0}}) lbs" disabled data-dtype="Number" />
          </div>
        </div>
        {{!-- Dmg threshold --}}
        <div title="For PCs 10, but 6 if Halfling"class="resource flex-group-center">
          <label for="system.combatstats.criticaldamagethreshold.value" class="resource-label">Damage threshold</label>
          <input type="text" name="system.combatstats.criticaldamagethreshold.value"
            value="{{#if (eq system.attributes.combatrole.value "Halfling" )}}6{{else}}10{{/if}}" disabled
            data-dtype="Number" />
        </div>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Main</a>

    <!--a class="item" data-tab="items">Inventory</a-->
    <!--a class="item" data-tab="spells">Spells</a-->

    <a class="item" data-tab="companions">Companions</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="description">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">


        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-3">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          {{> "systems/reconquest/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}

      <div class="resources grid grid-5col">
        <div class="resource flex-group-center">
          <h2>Basic info</h2>
          <div class="resource flex-group-center">

            <label for="system.attributes.age.value" class="resource-label">Age</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.attributes.age.value" value="{{system.attributes.age.value}}"
                data-dtype="Number" />
            </div>
          </div>
          <div class="resource flex-group-center">

            <label for="system.attributes.height.value" class="resource-label">Height</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.attributes.height.value" value="{{system.attributes.height.value}}"
                data-dtype="Number" />
            </div>
          </div>
          <div class="resource flex-group-center">


            <label for="system.attributes.weight.value" class="resource-label">Weight</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.attributes.weight.value" value="{{system.attributes.weight.value}}"
                data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="resource flex-group-center grid-span-4">
          <h2>Notes</h2>
          <div class="tab biography widecontainer notescontainer">

            {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
          </div>

        </div>
      </div>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/reconquest/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/reconquest/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/reconquest/templates/actor/parts/actor-effects.hbs"}}
    </div>

    {{!-- Companions Tab --}}
    <div class="tab companions" data-group="primary" data-tab="companions">
      {{> "systems/reconquest/templates/actor/parts/actor-companions.hbs"}}
    </div>

  </section>
</form>