<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-8col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.size.value" class="resource-label">Size</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.size.value" value="{{system.size.value}}" data-dtype="Text" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.move.value" class="resource-label">Move</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.move.value" value="{{system.move.value}}" data-dtype="Text" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.fright.value" class="resource-label">Fright</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.fright.value" value="{{system.fright.value}}" data-dtype="Text" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.ov.value" class="resource-label">OV</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.ov.value" value="{{system.ov.value}}" data-dtype="Text" />
          </div>
        </div>


        <div class="resource flex-group-center">
          <label for="system.damage.value" class="resource-label">Damage</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.damage.value" value="{{system.damage.value}}" data-dtype="Text" /><br>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.dv.value" class="resource-label">DV</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.dv.value" value="{{system.dv.value}}" data-dtype="Text" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.abilities.dex.initiative" class="resource-label" title="Initiative bonus">DEX</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.abilities.dex.initiative" value="{{system.abilities.dex.initiative}}" data-dtype="Text" />
          </div>
        </div>
        <div class="resource flex-group-center grid-span-4"></div>
        <div class="resource flex-group-center">
          <button class="rollable" data-roll="d20+@ov.value" data-label="<a href=''>Attack</a>">Attack</button>
        </div>

        <div class="resource flex-group-center">
          <button class="rollable" data-roll="@damage.value" data-label="<a href=''>Damage</a>">Damage</button>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">

      <div class="resources grid grid-10col">
  <div class="grid-span-8">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
            
      </div> 
      <div class="resource flex-group-center grid-span-2">
        <h2 class="section-header">Conditions</h2>
      <ol class="items-list effects-list">
        {{#each effects as |section sid|}}
        <li class="items-header flexrow" data-effect-type="{{section.type}}" data-parent-id="{{@root.actor.id}}">
          <h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
          <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="create" title="{{localize 'DOCUMENT.Create' type=" Effect"}}">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </li>
      
        <ol class="item-list">
          {{#each section.effects as |effect|}}
          <li class="item effect flexrow conditionrow" data-effect-id="{{effect.id}}" data-parent-id="{{effect.parent.id}}">
            <div class="item-name effect-name flexrow">
              <img class="item-image" src="{{effect.icon}}" />
              <a class="effect-control" data-action="toggle" title="{{localize 'RECON_QUEST.Effect.Toggle'}}">
                <h4>{{effect.name}}</h4>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>
        {{/each}}
      </ol>
      </div>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/reconquest/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/reconquest/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>